**/__pycache__/*
**/.venv/*
**/.env
**\.idea\*

.idea
env/
.venv/
idea/
ENV/
env.bak/
venv.bak/
idea.bak/

.gitattributes

**/deploy/mongo/data/*
!**/deploy/mongo/data/.gitkeep

.vscode

**/deploy/postgresql/data/*
!**/deploy/postgresql/data/.gitkeep